header{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    background-color: rgb(195, 108, 16);
    color: rgb(6, 4, 1);
    font-style: oblique;
    font-size: large;
}
main{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;  
    background-color: black; 
    color: antiquewhite; 
}
