header{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    background-color: rgb(169, 177, 161);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(89, 97, 90);
}
main{
    display: flex; 
    justify-content: space-evenly;
   
}
article{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
section{
    display: flex;
    flex-direction: column;

}
aside{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(89, 97, 90);    
}

